<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Anggota kami</h1>
            <ul>
                <% for(var i = 0; i < groups.length; i++) {%>
                  <li class="group">
                    <span>Group: <%= i+1 %></span>
                    <div>layanan : <%= groups[i].layanan%></div>
                    <ul>
                        <% for(var j = 0; j < groups[i].orders.length; j++) {%>
                            <li>
                                <div> Nama : <%= groups[i].orders[j].namaDepan %></div>
                            </li>
                        <% } %>
                    </ul>
                  </li>
                <% } %>
              </ul>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>