<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Status group</h1>
            <ul>
                <% for(var j = 0; j < group.orders.length; j++) {%>
                    <li>
                        <div> Nama : <%= group.orders[j].namaDepan %></div>
                        <div> Type : <%= group.orders[j].typeMember %></div>
                    </li>
                <% } %>
            </ul>

        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>