
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">


<header>
    <%- include('../../partials/header'); %>
</header>

<main>
    <div class="pt-24">
        <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
          <!--Left Col-->
          <div class="flex flex-col w-full md:w-5/5 justify-center items-start text-center md:text-left">
            <h1 class="my-4 text-5xl font-bold leading-tight">
                Order list
            </h1>
            <table style="width: 100%;" class="min-w-full table-auto">
                <thead class="justify-between">
                    <tr class="bg-gray-800 text-gray-300">
                        <th class="px-16 py-2">No.</th>
                        <th class="px-16 py-2">Nama </th>
                        <th class="px-16 py-2">Layanan</th>
                        <th class="px-16 py-2">Tipe User</th>
                        <th class="px-16 py-2">Email</th>
                        <th class="px-16 py-2">No Hp</th>
                        <th class="px-16 py-2">Status</th>
                        <th class="px-16 py-2">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    <% for(var i = 0; i <orders.length; i++) {%>
                        <tr class="bg-white border-4 border-gray-200 text-left ml-2 font-semibold text-gray-900">
                            <td><%= (i+1) + offset %> </td>
                            <td><%= orders[i].namaDepan %> <%= orders[i].namaBelakang %></td>
                            <td><%= orders[i].layanan %></td>
                            <td><%= orders[i].typeMember %></td>
                            <td><%= orders[i].email %></td>
                            <td><%= orders[i].noHp %></td>
                            <td><%= orders[i].status %></td>
                            <td>
                                <a href="/admin/orders/<%= orders[i].id %>/update-status" type="button" class="bg-indigo-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black " >Update status</a>
                                <form style="display: inline-block;" action="/orders/<%= orders[i].id %>" method="POST">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input onClick='return confirmSubmit()' type="submit" class="bg-red-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-red-500 hover:text-black " value="Delete" />
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>               
            </table>
            <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6 w-full" style="margin-top: 24px;">
    <div class="flex-1 flex justify-between sm:hidden">
      <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
        Previous
      </a>
      <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
        Next
      </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%= offset + 1 %></span>
          to
          <span class="font-medium"><%= offset+ orders.length %></span>
          of
          <span class="font-medium"><%= total %></span>
          results
        </p>
      </div>
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            <%if (currentPage > 1) { %>
                <a href="/admin/orders?offset=<%= (currentPage-2)*limit %>&limit=<%= limit %>" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Previous</span>
                    <!-- Heroicon name: solid/chevron-left -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                  </a>
            <% } %>

                <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                    <%= currentPage %>
                </a>

            <%if (currentPage < totalPages) { %>
                <a href="/admin/orders?offset=<%= (currentPage)*limit %>&limit=<%= limit %>" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Next</span>
                    <!-- Heroicon name: solid/chevron-right -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
            <% } %>     
        </nav>
      </div>
    </div>
  </div>
            <div>
                <% for(var i = 1; i<=totalPages; i++) {%>
                    <a href="/admin/orders?offset=<%= (i-1)*limit %>&limit=<%= limit %>"><%= i %> </a>    
                <% } %>
            </div>
        </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>

<script LANGUAGE="JavaScript">
 
    function confirmSubmit()
    {
    var agree=confirm("Are you sure you wish to continue?");
    if (agree)
     return true ;
    else
     return false ;
    }
    // -->
    </script>

</body>
</html>